/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.single-slider.slider-height {
  min-height: 700px;
}
.slide-img.slider-full > img {
	width: 62%;
	margin-top: 67px;
}
.slider-height-3 .slider-content h1 {
	font-size: 74px;
}
.single-slider.slider-height-3 {
	min-height: 600px;
}

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.header-top-area {
  padding: 0 0px;
}
.header-bottom-area {
  padding-left: 0;
  padding-right: 0;
}
.main-menu ul li {
  margin-left: 30px;
}
.header-button > a {
  padding: 14px 16px;
}
.header-button {
  margin-left: 25px;
}
.wrapper-box {
  padding: 0 15px;
}
.slide-img > img {
  width: 100%;
}
.single-slider.slider-height {
  min-height: 600px;
}
.single-features {
  padding: 0;
}
.promotion-text {
  padding-bottom: 80px;
  padding-left: 20px;
  padding-top: 80px;
}
.cta-img img {
	width: 100%;
}
.promo-2{padding-top: 0;padding-bottom: 0;}
.single-couter.counter-2 > p {
	padding-left: 0;
}
.single-couter.counter-2 {
	text-align: center;
}
.header-top-3 {
	padding: 20px 0px;
}
.language.language-header-3 {
	margin-top: 4px;
}
.slider-height-3 .slider-content h1 {
	margin-bottom: 30px;
}
.single-slider.slider-height-3 {
	min-height: 600px;
}
.testimonial-3 {
	padding: 20px 15px;
}
.blog-space{padding-right: 15px}
.why-chose {
	padding: 0;
}
.update-cart > a {
	margin-left: 0;
	padding: 14px 16px;
	margin-bottom: 10px;
}
.contact-info h2 {
	margin-bottom: 30px;
}
.contact-meta {
	margin-bottom: 30px;
}
.service-box {
	padding: 20px;
	text-align: center;
}





}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-bottom-area {
  padding-bottom: 10px;
  padding-top: 20px;
}
.single-slider.slider-height {
  min-height: 550px;
}
.single-features h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.single-features {
  padding: 0;
}
.promotion-text {
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 50px;
}
.wrapper-box {
  padding: 0 20px;
}
.footer-link > li {
  width: 100%;
}
.footer-widget > h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.promo-2{padding-top: 0;padding-bottom: 0;}
.single-couter.counter-2 > p {
	padding-left: 0;
}
.single-couter.counter-2 {
	text-align: center;
}
.menu-style-3.mean-container a.meanmenu-reveal {
	margin-top: -29px;
}
.slider-height-3 .slider-content h1 {
	font-size: 55px;
}
.single-slider.slider-height-3 {
	min-height: 500px;
}
.promotion-img-3 {
	width: 100%;
	min-height: 400px;
	position: inherit;
}
.testimonial-3 {
	margin-bottom: 40px;
}
.page-title-area {
	padding: 100px 0;
}
.post-comments-form {
	margin-bottom: 50px;
}
.blog-space{padding-right: 15px}
.job-list {
	margin-bottom: 30px;
}
.update-cart > a {
	margin-left: 0;
	margin-right: 10px;
}
.update-cart {
	margin-top: 20px;
}
.contact-info {
	margin-top: 30px;
}

}

 
/* Extra small Device. */
@media (max-width: 767px) {
.header-top-area {
  padding: 0 10px;
}
.header-right li {
	margin-left: 10px;
}
.header-bottom-area {
  padding: 17px 10px 4px;
}
.wrapper-box {
  padding: 0 20px;
}
.single-slider.slider-height {
  min-height: 550px;
}
.slider-content h1 {
  font-size: 32px;
  line-height: 43px;
}
.slider-content p {
  padding-right: 0;
}
.slider-content span {
  letter-spacing: 2px;
}
.features-title > h2 {
  font-size: 36px;
}
.promotion-text {
  padding-left: 0;
}
.portofilo-menu > button {
  margin: 0 2px 5px;
}
.cap.text-center> img {
  width: 100%;
}
.single-brand > a {
  display: inline-block;
}
.single-brand {
  text-align: center;
}
.cta-img img {
	width: 100%;
}
.portfolio-menu > button {
	margin: 0 3px;
	margin-bottom: 5px;
}
.single-couter.counter-2 > p {
	padding-left: 0;
}
.single-couter.counter-2 {
	text-align: center;
}
.portfolio-menu {
	padding: 0 10px;
}
.menu-style-3.mean-container a.meanmenu-reveal {
	margin-top: -29px;
}
.header-top-3 {
	padding: 20px 0;
}
.slider-height-3 .slider-content h1 {
	font-size: 38px;
}
.single-slider.slider-height-3 {
	min-height: 400px;
}
.promotion-img-3 {
	position: inherit;
	min-height: 400px;
}
.promotion-text.promo-2 {
	padding-top: 40px;
	padding-bottom: 0;
}
.testimonial-3 {
	margin-bottom: 40px;
}
.page-title h1 {
	font-size: 35px;
}
.page-title-area {
	padding: 100px 0;
}
.blog-post .blog-item-content h3 a {
	font-size: 23px;
	line-height: 1.2;
}
.blockquote {
	margin-left: 0;
}
.blog-share-icon {
	margin-top: 20px;
}
.comments-text {
	padding-left: 0;
	margin-top: 15px;
}
.comments-avatar {
	float: none;
}
.comments-reply {
	padding-left: 0;
}
.post-comments-form {
	padding-right: 0;
	margin-bottom: 50px;
}
.blog-space{padding-right: 15px}
.why-chose {
	padding: 0;
}
.job-list {
	margin-bottom: 30px;
}
.update-cart > a {
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.update-cart {
	margin-top: 20px;
}
.coupon-left input {
	width: 100%;
	margin-bottom: 10px;
}
.coupon-left button {
	margin-left: 0;
}
.contact-info {
	margin-top: 30px;
}
.extra-info {
	width: 300px;
	z-index: 9999;
}
.project-status {
	padding: 30px;
}
.product-filder .nice-select {
	float: left;
	margin-top: 25px;
}

.product-tab {
	float: none;
	width: auto;
}
.product-zoom-img .tab-content {
	margin-left: 0;
}
.product-tab .nav-link {
	margin-bottom: 20px;
	margin-right: 10px;
}
.product-desc h2 {
	font-size: 34px;
}
.product-desc .nice-select {
	margin-left: 4px;
}
.pro-details-action a {
	padding-left: 25px;
	padding-right: 25px;
}
.review-tab .nav-item {
	margin-right: 24px;
}
.pro-commnets-text {
	margin-left: 0;
	margin-top: 10px;
}
.pro-comments-img {
	float: none;
}




}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

 
}